<h2>Helios Software Developer Terms of Service</h2>
<h3>1. Terms</h3>
<p>By accessing our app, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing our applications. The materials contained in our applications are protected by applicable copyright and trademark law.</p>
<h3>2. Use License</h3>
<ol type="a">
   <li>Permission is granted to temporarily download one copy of our mobile application per device for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
   <ol type="i">
       <li>modify or copy the materials;</li>
       <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
       <li>attempt to decompile or reverse engineer any software contained in our applications;</li>
       <li>remove any copyright or other proprietary notations from the materials; or</li>
       <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
   </ol> 
    </li>
   <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Helios Software Developer at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
</ol>
<h3>3. Disclaimer</h3>
<ol type="a">
   <li>The materials within our applications are provided on an 'as is' basis. Helios Software Developer makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
   <li>Further, Helios Software Developer does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to our application.</li>
   <li>Our free applications use advertising provided by Admob, anonymous statistical information is reported to them so they can see whether their adverts are effective. Visit this website for more information about Google Admob: https://admob.google.com/home/</li>
   <li>Helios Software Developer does not store any information provided by user. If some case that our application ask for personal information, data provided by the user will be store on his/her mobile device only. </li>
</ol>
<h3>4. Personal and Sensitive user data</h3>
<ol type="a">
Helios Software Developer doesn't collect any user details on any of its mobile application. All the data or information are all stored on the mobile app only. Helios Software Developer respects the privacy and user information of each users.
</ol>
<h3>5. Limitations</h3>
<p>In no event shall Helios Software Developer or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use our application, even if Helios Software Developer or a Helios Software Developer authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
<h3>6. Accuracy of materials</h3>
<p>The materials appearing in our application could include technical, typographical, or photographic errors. Helios Software Developer does not warrant that any of the materials on our applications are accurate, complete or current. Helios Software Developer may make changes to the materials contained in our applications at any time without notice. However Helios Software Developer does not make any commitment to update the materials.</p>
<h3>7. Links</h3>
<p>Helios Software Developer has not reviewed all of the sites linked to its app and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Helios Software Developer of the site. Use of any such linked website is at the user's own risk.</p>
<h3>8. Modifications</h3>
<p>Helios Software Developer may revise these terms of service for its app at any time without notice. By using our application, you are agreeing to be bound by the then current version of these terms of service.</p>
<h3>9. Governing Law</h3>
<p>These terms and conditions are governed by and construed in accordance with the laws of Philippines and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
<p>Generated by <a title="Terms of Service Template Generator" href="https://getterms.io/">GetTerms.io</a></p>